Filament_Scale.egg-info/dependency_links.txt
Filament_Scale.egg-info/entry_points.txt
Filament_Scale.egg-info/not-zip-safe
Filament_Scale.egg-info/PKG-INFO
Filament_Scale.egg-info/requires.txt
Filament_Scale.egg-info/SOURCES.txt
Filament_Scale.egg-info/top_level.txt
dist/*-py3.8.egg
